@use 'mixins/theme' as mixins-theme;
@use 'themes/theme' as themes-theme;
@use 'sass:map';

@include mixins-theme.connectThemes(themes-theme.$themes, 'theme') using ($theme, $themeName) {
  @each $colorType, $color in map.get($theme, 'colors') {
    --#{$colorType}-color: #{$color};
  }
}

:root {
  --ocr-chinisik-font-family-cn: 'MapleMono-CN';
  --ocr-chinisik-base-font-family: 'Rubik', 'MapleMono-CN', Roboto, Helvetica, Arial, sans-serif, 'Segoe UI Emoji';
  --ocr-chinisik-base-font-size: 16px;
}
