@import "tailwindcss";

/* Базовые переменные (общие для всех тем) */
:root {
  /* Шрифты */
  --font-family-cn: 'MapleMono-CN';
  --font-family-base: 'Rubik', 'MapleMono-CN', Roboto, Helvetica, Arial, sans-serif, 'Segoe UI Emoji';
  --font-size-base: 16px;
  
  /* Статусные цвета (общие) */
  --border-positive: #759f45;
  --border-warning: #ffd452;
  --border-negative: #f15d56;
  
  /* Тоновые цвета (общие) */
  --fg-tone-0: #2eb1c2;
  --fg-tone-1: #2e37c2;
  --fg-tone-2: #cea348;
  --fg-tone-3: #b83878;
  --fg-tone-4: #61a15b;
}

/* Светлая тема (по умолчанию) */
:root,
[data-theme="light"] {
  /* Background */
  --bg-primary: #eeeeee;
  --bg-secondary: #dde0e2;
  --bg-tertiary: #d2d8dd;
  --bg-header: rgb(220, 223, 225);
  --bg-disabled: #e7e9ed;
  --bg-inverted: #22263b;
  --bg-accent-overlay: #818bb5;
  --bg-accent: #d7e0f3;
  --bg-pressed: rgba(34, 38, 59, 0.05);
  --bg-overlay-primary: rgba(69, 74, 97, 0.21);
  --bg-overlay-secondary: rgba(148, 161, 171, 0.86);
  --bg-action-hover: #828dca;
  --bg-success: #d0e6d2;
  --bg-error: #ebd5d9;

  /* Foreground */
  --fg-primary: #22263b;
  --fg-secondary: rgba(34, 38, 59, 0.8);
  --fg-tertiary: rgba(34, 38, 59, 0.6);
  --fg-muted: rgba(34, 38, 59, 0.4);
  --fg-accent: #344079;
  --fg-action: #424c86;

  /* Border */
  --border-primary: rgba(34, 38, 59, 0.33);
  --border-secondary: rgba(34, 38, 59, 0.1);
  --border-accent: #bbcef8;
  --border-disabled: rgba(34, 38, 59, 0.1);
  --border-button-secondary: rgba(52, 64, 121, 0.2);
}

/* Темная тема */
.dark,
[data-theme="dark"] {
  /* Background */
  --bg-primary: #1e1f20;
  --bg-secondary: #121314;
  --bg-tertiary: #151617;
  --bg-header: rgb(18, 19, 20);
  --bg-disabled: #e7e9ed;
  --bg-inverted: #22263b;
  --bg-accent-overlay: #441717;
  --bg-accent: #181717;
  --bg-pressed: rgba(34, 38, 59, 0.05);
  --bg-overlay-primary: #131010;
  --bg-overlay-secondary: rgba(255, 255, 255, 0.1);
  --bg-action-hover: #e18a4c;
  --bg-success: #2c492f;
  --bg-error: #6d3b46;

  /* Foreground */
  --fg-primary: #e4e4e4;
  --fg-secondary: rgba(228, 228, 228, 0.8);
  --fg-tertiary: rgba(228, 228, 228, 0.6);
  --fg-muted: rgba(228, 228, 228, 0.4);
  --fg-accent: #ff8856;
  --fg-action: #e18a4c;

  /* Border */
  --border-primary: #353535;
  --border-secondary: rgba(71, 71, 71, 0.1);
  --border-accent: #632732;
  --border-disabled: rgba(71, 71, 71, 0.1);
  --border-button-secondary: rgba(52, 64, 121, 0.2);
}

@layer base {
  html {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
  }
  
  body {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin: 0;
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

/* Поддержка color-scheme */
html {
  color-scheme: light dark;
}

html.dark,
[data-theme="dark"] {
  color-scheme: dark;
}

html.light,
[data-theme="light"] {
  color-scheme: light;
}

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--reka-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--reka-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
