@import '~/assets/scss/_fonts.scss';

html {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  font-size: var(--ocr-chinisik-base-font-size, 16px);
  font-family: var(--ocr-chinisik-base-font-family);
  color: var(--fg-primary-color);
}

body {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
